<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/extensions/Chart.min.js"></script>
</head>
<body>
    <div class="chart-container">
        <h1>{{ chart_name }}</h1>
        <canvas id="myChart" width="800" height="600"></canvas>
        <p id="caption">Тут можно типа написать рассказ о графике=)</p>
        <h2>Точки спсиком для редактирования</h2>
        {% for p in points_list %}
            <form action="/charts/point/" method="POST">
                    <input type="hidden" name="point_id" value="{{ p[0] }}">
                    <label>{{ p[1] }}</label>
                    <input type="text" name="point_y" value="{{ p[2] }}"/>
                    <button type="submit">Обновить значение</button>
            </form>
        {% endfor %}
    </div>
    <div class="form-container">
        <h3>Добавить точку на график {{ chart_name }}</h3>
        <form action="/charts/" method="POST">
            <input type="hidden" name="chart_name" value="{{ chart_name }}">
            <label>Колличество</label>
            <input type="text" name="point_y"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <script>
        Chart.defaults.global.responsive = false;

        var chartData = {
            labels : [{% for item in labels %}
                        "{{ item }}",
                     {% endfor %}],
            datasets : [{
                label: '{{ legend }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [{%  for item in values %}
                        {{ item }},
                      {% endfor %}],
                spanGaps: false
            }]
        }

        var ctx = document.getElementById("myChart").getContext("2d");

        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
        })
    </script>
</body>
</html>